@import 'style/color.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  background: linear-gradient(180deg, #1F2A63 0%, #17002F 100%) no-repeat;

  .wrapper_text {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      position: absolute;
      width: 500px;
    }
    p {
      color: gray;
      font-size: 35em;
      margin: 0;
    }
  }

  button {
    margin: 0;
    background: $green;
    padding: 15px 70px;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    cursor: pointer;
    transition: 0.5s all;

    &:hover {
      transform: scale(1.05);
    }
  }
}
