@import 'style/mixins.scss';

.wrapper {
  padding: 0 100px;
  width: 100%;

  @include media-breakpoint-only(sm) {
    padding: 0 20px;
  }

  @include media-breakpoint-only(xs) {
    padding: 0 20px;
  }
}
