@import 'style/color.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
  border-bottom: 1px solid #17002f;
  padding: 20px 100px;

  .wrapper_link {
    display: flex;
    gap: 70px;

    .link {
      font-weight: 400;
      font-size: 25px;
      line-height: 29px;
      color: $gray;
    }
  }
}
