@import 'style/color.scss';

.wrapper_main {
  padding: 0px 100px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #1F2A63 0%, #17002F 100%) no-repeat;
  .wrapper_sub {
    display: flex;
    flex-direction: column;

    h1 {
      font-weight: 500;
      font-size: 72px;
      line-height: 84px;
      letter-spacing: 4px;
      color: white;
      width: 500px;
    }

    h2 {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 37px;
      color: white;
      width: 500px;
    }

    button {
      background: $third;
      box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
      border-radius: 11px;
      width: 230px;
      padding: 10px 0px;
      font-weight: 700;
      font-size: 23px;
      line-height: 27px;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

}
