@import 'style/mixins.scss';

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.7);

  .close {
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: 150px;

    @include media-breakpoint-only(sm) {
      right: 0px;
    }

    @include media-breakpoint-only(xs) {
      right: 0px;
    }
  }

  .wrapper_sub {
    display: flex;
    justify-content: center;
    position: relative;
    width: 90%;
  }
}
